@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* React DatePicker custom styles */
.react-datepicker-wrapper {
  width: auto;
}

.react-datepicker__header {
  background-color: #065f46 !important;
  border-bottom: none !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: #059669 !important;
}

.react-datepicker__day:hover {
  background-color: #d1fae5 !important;
}
